<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>
            Geometry Calculator
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body> 
        Grid Size<input id="gridSpacing" value=50></input> 
        Color<input id="hex" value="black"></input>
        Angle<input id="angle" value=10></input>
        <button id="calc" onclick="calc()">Calculate</button>
        <button id="cleardraw" onclick="drawBoard()">Clear</button><br><br>
        <canvas id="draw"></canvas>
        <script src="../static/app.js"></script>
    </body>

</html>

